/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #e50914; 
}

.auth-icon i {
    margin-left: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.auth-icon i:hover {
    color: #e50914;
}

/* Top 5 Películas */
.top5 {
    padding: 20px;
    background-color: #1c1c1c;
    margin-bottom: 20px;
}

.top5 h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    padding-left: 20px;
}

.top5 .row {
    display: flex;
    gap: 100px;
    overflow-x: auto;
    padding: 0 20px 20px 20px; 
    scrollbar-width: thin; 
    scrollbar-color: #e50914 #1c1c1c; 
}

.top5 .row::-webkit-scrollbar {
    height: 8px; 
}

.top5 .row::-webkit-scrollbar-thumb {
    background-color: #e50914; 
    border-radius: 4px;
}

.top5 .row::-webkit-scrollbar-track {
    background-color: #1c1c1c; 
}

.top5 .col {
    flex: 0 0 auto;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
}

.top5 img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.top5 img:hover {
    transform: scale(1.05);
}

.top5 h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Filtros */
h3 {
    font-size: 1.5rem;
    margin: 20px;
}

select, input[type="text"], input[type="number"] {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    width: 200px;
}

select:focus, input[type="text"]:focus, input[type="number"]:focus {
    outline: none;
    box-shadow: 0 0 5px #e50914;
}

/* Películas Disponibles */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px;
    padding: 20px;
}

.grid-col {
    background-color: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.grid-col:hover {
    transform: scale(1.05);
}

.grid-col img {
    width: 100%;
    height: 300px;
    object-fit: cover; 
}

.grid-col h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.btn-like {
    background-color: #e50914;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.btn-like.liked {
    background-color: #4CAF50; 
}

.btn-like:hover {
    background-color: #ff0000;
}

/* Modal de Login y Modal de Información de Película */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center; 
    align-items: center; 
    display: flex; 
}

.modal-content {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    width: 80%; 
    max-width: 800px; 
    text-align: left; 
    position: relative; 
}

.modal-body {
    display: flex;
    gap: 20px; 
}

.modal-image-container {
    flex: 1; 
    display: flex;
    justify-content: flex-start; 
}

.modal-info {
    flex: 1; 
}

.modal-image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content p {
    margin: 10px 0;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}

/* Estilos específicos para el modal de inicio de sesión */
.modal.login-modal .modal-content {
    max-width: 400px; 
    background-color: #2c2c2c; 
    padding: 30px; 
    border-radius: 15px; 
}

.modal.login-modal h2 {
    text-align: center; 
    color: #fff; 
    margin-bottom: 30px; 
}

.modal.login-modal form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.modal.login-modal input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #1c1c1c;
    color: #fff;
    font-size: 1rem;
}

.modal.login-modal input::placeholder {
    color: #888;
}

.modal.login-modal button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e50914;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.modal.login-modal button:hover {
    background-color: #e50914;
}

.modal.login-modal p {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.modal.login-modal a {
    color: #007bff;
    text-decoration: none;
}

.modal.login-modal a:hover {
    text-decoration: underline;
}

/* Estilos específicos para el modal de registro */
.modal.register-modal .modal-content {
    max-width: 400px;
    background-color: #2c2c2c;
    padding: 30px;
    border-radius: 15px;
}

.modal.register-modal h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.modal.register-modal form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal.register-modal input,
.modal.register-modal button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #1c1c1c;
    color: #fff;
    font-size: 1rem;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.modal.register-modal input::placeholder {
    color: #888;
}

.modal.register-modal button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e50914;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.modal.register-modal button:hover {
    background-color: #ff0000;
}

.modal.register-modal p {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.modal.register-modal a {
    color: #007bff;
    text-decoration: none;
}

.modal.register-modal a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .top5 .col, .grid-col {
        width: 150px; 
    }

    .grid-col img {
        height: 200px; 
    }

    .header h1 {
        font-size: 2rem; 
    }

    .auth-icon i {
        font-size: 1.5rem; 
    }
    table {
        width: 100%; 
        overflow-x: auto; 
        display: block; 
    }

    table th, table td {
        font-size: 0.9rem; 
        padding: 8px; 
    }
}

@media (max-width: 480px) {
    .top5 .col, .grid-col {
        width: 100%;
    }

    .grid-col img {
        height: auto;
    }

    .header h1 {
        font-size: 1.2rem;
    }

    .auth-icon i {
        font-size: 1rem;
    }

    .modal-content {
        width: 90%;
    }

    .modal-body {
        flex-direction: column;
    }

    .modal-image-container, .modal-info {
        width: 100%;
    }

    .filters-container {
        flex-direction: column;
        align-items: stretch;
    }

    .filters-container .form-control {
        width: 100%;
    }

    #clear-filters {
        width: 100%;
    }
}

